html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Overlock', monospace;
  background-color: #ADD8E6;
  color: #342D27;
  /* rgba(0, 0, 0, 0.7); */
}

svg {
  width: 100%;
  height: 100%;
}

svg rect {
  stroke-width: 1.5px;
  stroke: #F0F0F0;
}

svg rect.Square {
  fill: #CCCBB3;
}

svg rect.Square_TW {
  fill: #E40234;
  /* red; */
}

svg rect.Square_DW {
  fill: #F0878C;
  /* pink; */
}

svg rect.Square_TL {
  fill: #4FA1B9;
  /* blue; */
}

svg rect.Square_DL {
  fill: #C2DDE8;
  /* lightblue; */
}

svg g.letter rect {
  fill: ivory;
  stroke: red;
  rx: 5px;
  /* border: 3px; */
}

svg g.letter text.face {
  font-size: 25px;
}

svg g.letter text.value {
  font-size: 10px;
}

#container {
  /* margin: 0; */
  /* padding: 0; */
  height: 100%;
}

header {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  left: 5px;
  font-size: 80%;
}

footer {
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 80%;
}

a {
  text-decoration: none;
}

a:link {
  color: rgba(0, 0, 0, 0.9);
}

a:visited {
  color: rgba(0, 0, 0, 0.9);
}

a:hover {
  color: rgba(0, 0, 0, 0.7);
}

a:active {
  color: rgba(0, 0, 0, 0.7);
}

ellipse.Point {
  fill: none;
  stroke: red;
}

ellipse.Node {
  fill: red;
}

polygon {
  stroke: blue;
}

polygon.base {
  fill: none;
  /* fill: rgba(0, 0, 0, 0.1); */
  stroke-width: 0.1px;
  /* stroke: red; */
}

polygon.triangle {
  /* fill: none; */
  /* stroke: blue; */
  stroke-width: 0.1px;
}